#Artist
{
    background-image: url('https://www.tenhomaisdiscosqueamigos.com/wp-content/uploads/2016/10/system-of-a-down-banda-2016.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content 
{
    background: rgb(0,0,0);
    background:
    linear-gradient(90deg, rgba(0,0,0,0.5) 64%,
     rgba(0,0,0,0) 100%);
}

#Informacoes {
    padding: 50px;
    padding-left: 70px;
    font-family: "Oswald";

    width: 45%;
    height: 60vh;


    color: rgb(237, 237, 237);
    text-align: left;
    line-height: 1.2;
}

.Titulo {
    font-size: 55px;
    font-weight: 500;
    margin: 4% 0% 5% 0%;
}

.subInformações {
    font-size: 25px;     
    font-weight: 300;
    text-transform: uppercase;

    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

.Descrição
{
    margin: 3.5% 0;

    font-size: 110%;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: .8px;
}

.Estrelas i{
    color:yellow;
    cursor: pointer;

    &:hover
    {
        color: cyan;
    }
}