#Informacoes {
  padding: 50px;
  padding-left: 70px;
  font-family: "Oswald";
  width: 45%;
  height: 100vh;
  background: #000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
  color: #ededed;
  text-align: left;
  line-height: 1.2;
}
.Titulo {
  font-size: 55px;
  font-weight: 500;
  margin: 4% 0% 0% 0%;
}
.subInformações {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 5%;
}
.Estrelas i {
  color: yellow;
  cursor: pointer;
}
.Estrelas i:hover {
  color: cyan;
}
