#Galeria
{
    background: #111;
}

.galeria-collection {
    columns: 5 5vw;
    column-gap: 0.2vw;
    width: 90%;
    margin: 0 auto;

    animation: GaleriaFotos 2s ease;
}

.item{
    width: 100%;
    transition: all .25s ease-in-out;
    float: left;
}

.item:hover 
{
    transform: scale(1.5,1.5);
    filter: drop-shadow(0px 0px 10px aqua);
}

.item:hover .itemContent
{
    opacity: 1;
}

.item img {
    width: 100%;
    height: auto;
    transition: all .25s ease-in-out;
}

.itemContent 
{
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


@keyframes GaleriaFotos {
    0% {
        opacity:0;
    }

    50% {
        opacity:1;
    }
}