<nav>
    <ul id="Menu">
        <li class="logo" id="ComFuncao" onclick="AbirirMenu()"><label>Nu Metal</label></li>
        <li class="logo" id="SemFuncao"                        ><label>Nu Metal</label></li>
        <li class="MenuItem"><a href="/">Pagina Principal</a></li>
        <li class="MenuItem"><a href="galeria.html">Galeria</a></li>
        <li class="MenuItem"><a href="#">Sobre</a></li>
    </ul>
</nav>